[submodule "Verification-corpus"]
	path = Verification-corpus
	url = https://github.com/MKLab-ITI/image-verification-corpus
[submodule "Fakeddit"]
	path = Fakeddit
	url = https://github.com/entitize/Fakeddit
[submodule "M4"]
	path = M4
	url = https://github.com/mbzuai-nlp/M4
[submodule "BuzzFace"]
	path = BuzzFace
	url = https://github.com/gsantia/BuzzFace
[submodule "FCV-2018"]
	path = FCV-2018
	url = https://github.com/MKLab-ITI/fake-video-corpus
